div.polaroid {
    width: 1850px;
    height: 780px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
  
div.container {
    padding: 10px;
}

* {
    box-sizing: border-box;
  }
  
  .menu {
    width: 5%;
    float: left;
    padding:2px;
    border: 0px solid black;
  }
  
  .main {
    width: 70%;
    height: 98%;
    float: left;
    padding: 15px;
    border: 0px solid black;
  }

  .sidebar {
    width: 25%;
    float: left;
    padding: 15px;
    border: 0px solid black;
  }