
.rectangle{
  padding: 5px;
  border: 5px dotted black;
  border-radius: 7px;
  background-color: rgba(219, 35, 240, 0.5);
  border-color: aqua;
}
.hide{
  display: none;
}
.child1{
  width: 160px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  right: -240px;
  box-shadow: 3px 3px 5px gray;
}
.child1 input{
  width: 130px;
  margin: 6px 0px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(201, 197, 197);
}
.child1 button{
  width: 90%;
  padding: 5px 0px;
  font-size: 15px;
  color: gray;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 3px;
}
.child2{
  width: fit-content;
  padding: 5px 15px;
  position: absolute;
  bottom: -45px;
  left: 0px;
  font-size: medium;
  border-radius: 7px;
  background-color: white;
  border:2px solid gray;
}