#mainContainer{
  width:850px;
  height: 85vh;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.child1{
  width: 200px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  right: -240px;
  top: 0px;
}
.child1 input{
  margin: 6px 0px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(201, 197, 197);
}
.child1 button{
  width: 100%;
  padding: 5px 0px;
  font-size: 15px;
  color: gray;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 3px;
}
.child2{
  width: fit-content;
  padding: 5px 15px;
  position: absolute;
  bottom: -45px;
  left: 10px;
  /* left: 20px; */
  font-size: medium;
  border-radius: 7px;
  background-color: white;
  border:2px solid gray;
}

.resize{
  width: 100%;
  height: 100%;
  border: 3px dotted black;
  border-radius: 7px;
}



/* .move{
  width: 300px;
  height: 400px;
  left: 20px;
  top: 10px;
  position: absolute;
  border-radius: 7px;
  z-index: 10;
  border:3px dotted black;
}
.child1{
  width: 200px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  left: 350px;
  top: 180px;
}
.child1 input{
  margin: 6px 0px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(201, 197, 197);
}
.child1 button{
  width: 100%;
  padding: 5px 0px;
  font-size: 15px;
  color: gray;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 3px;
}
.child2{
  padding: 5px 15px;
  position: absolute;
  bottom: -44px;
  left: 20px;
  font-size: medium;
  border-radius: 7px;
  background-color: white;
  border:2px solid gray;
} */