#super_wrapper{
  border: 2px solid gray;
  border-radius: 15px;
  overflow: hidden;
}
#upper_sec{
  width: 100%;
  padding: 25px 35px;
  background-color: rgb(240, 245, 248);
}
#main_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 245, 248);
}
.side_panal{
  display: flex;
}
.icon_wrapper{
  height: 90vh;
  background-color: rgb(36, 35, 35);
}
.icon-container{
  color: white;
  padding: 9px 7px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 2px;
}
#pol_icon{
  width:20px;
}
#sub_panal{
  width: 180px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}
#img_sec{
  width: 100%;
}
#main_img{
  width:100%;
  margin-left: 2px;
  height: 83vh;
  border-radius: 15px;
}
.border{
  border: 1px solid black;
}
#right_sub_panal{
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_icon_wrapper{
  font-size: 18px;
  margin: 10px;
  padding: 11px 15px;
  border-radius: 9999px;
}
.right_icon_wrapper:hover{
  background-color: rgb(193, 194, 195);
}

.right_drawer{
  width: 300px;
  height: 90vh;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}
.drawer_header{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}